html,body{
	font:12px arial, helvetica;
	color:#000000;
	text-align: left;
	margin: 0;
	/*background:#FFFFFF;*/
	padding:0;
	height:100%;
}
#wrap {min-height: 100%;}
#main {overflow:auto;
	padding-bottom: 50px;}
.main{
	width:100%;
	height:104px;
	background:url(../img/bg-top.jpg) 0 0 repeat-x #FCF2D8;
	border:0px solid black;
}
.image_box7{
	width: auto;
	height: auto;
	float: left;
	border: 1px solid #b7b7b7;
	padding: 4px 4px; 
	/*margin: 0px 10px;*/
	background:#FFFFFF;
	margin-right:10px;
}
.alert
{
	background-color:#5c9ccc;
	background: #5c9ccc url(../img/bg_alert.png) 50% 50% repeat-x;
	width:97%;
	display:block;
	min-height:20px; 
	height:25px;
	border:1px solid #f00;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin:2px auto;
	text-align:center;
	padding:6px 0 0 5px;
	color:#F00
}

.alert_success
{
	background-color:#dfeffc;
	width:97%;
	display:block;
	min-height:20px; 
	height:25px;
	border:1px solid #a6c9e2;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin:2px auto;
	text-align:center;
	padding:6px 0 0 5px;
	color:#000000;
	font-weight:bold;
}
.box_panel
{
	background:url(../img/bg_panel.jpg) repeat-x;
	width:100%;
	height:auto;	
	display:block;
	min-height:350px;
	color:#000000;
	border:none;
	border-left:1px solid #D3C8AA;
	border-right:1px solid #D3C8AA;
	border-bottom:1px solid #D3C8AA;
	border-top:1px solid #D3C8AA;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	float:left;
}
.box_panel_blue
{
	width:100%;
	height:auto;	
	display:block;
	min-height:350px;
	color:#000000;
	border:1px solid #fad42e;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	float:left;
	background-color:#FFF;
}

/*-----------------------------MENU-----------------------*/
.menu-area
{
	width:100%;
	height:50px;
	background:url(../img/bg-menu.jpg);
	border:0px solid black
}
.menu_header {
	width:70%;
	border:0px solid black;
	margin:0px auto;
	height:48px;
}
.menu_header ul {
	width:98%;
	height:40px;
	display:block;
	list-style:none;
	padding:0;
	margin:0px auto 0px auto;
	border:0px solid black;
}
.menu_header ul li{
	float:left;
	margin:15px 5px;
	
}
.menu_header ul li a{
	display:block; 
	padding:5px 8px 0 8px; 
	font:15px Arial, Helvetica, sans-serif;
	color:#000000;
	text-align:center;
	text-decoration:none;
	
}
.menu_header ul li a:hover{	
	background-color: #7D704F;
	color:#fff;
	padding:4px 8px 0 8px;
	-moz-border-radius-topleft:5px; 
	-moz-border-radius-topright:5px; 
	-webkit-border-topleft-radius:5px; 
	-webkit-border-topright-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	height:27px;
}
.menu_header ul li a.curent_head{
	font-weight:bold;
	background-color: #7D704F;
	color:#fff;
	padding:4px 8px 0 8px; 
	-moz-border-radius-topleft:5px; 
	-moz-border-radius-topright:5px; 
	-webkit-border-topleft-radius:5px; 
	-webkit-border-topright-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	height:27px;
}
/*-----------------------------MENU-----------------------*/


/*--- LINE ---*/
.login_center
{
	width:400px;
	margin:auto;
}
.login_box
{
	border:1px solid #c7c7c7;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	width:100%;
	height:auto;
	display:block;
	float:left;
	margin-top:200px;
	background-color:#eaeaea;
}

.side_left{
	float:left;
	width:200px;
	height:auto;	
	margin:0;
	border:0px solid black;
	margin-right:20px;
}
.side_center{	
	float:left;
	width:783px;
	min-height:500px;
	height:auto;	
	margin:0;
	border:0px solid black;
}
.left{
	float:left;
	width:50%;
	height:auto;
	margin:0;
}
.right{
	float:right;
	width:50%;
	height:auto;
	margin:0;
}
.line0{
	width:100%;
	min-height:50px;
	display:block;
	margin:0;
}
.line1{
	width:100%;
	height:auto;
	float:left;
	padding:0;
	margin:0;
	
}
.line2{
	width:98%;
	height:auto;
	display:block;
	margin:0px auto;
	border:0px solid black;
	padding:0;
}
.updown_down{
	float:left; 
	width:14px;
	height:12px;
	display:block;
	margin:0px auto;
	border:0px solid black;
	padding:0;
	background:url(../img/icon_menu_down.gif) no-repeat;
	cursor:pointer;
}
.updown_up{
	float:left; 
	width:14px;
	height:12px;
	display:block;
	margin:0px auto;
	border:0px solid black;
	padding:0;
	background:url(../img/icon_menu_up.gif) no-repeat;
	cursor:pointer;
}

.line3{
	width:100%;
	height:auto;
	float:left;
	padding:3px 0;
	margin:0;
	border:0px solid black;
}
.line4{
	width:100%;
	display:block;
	min-height:20px; 
	height:20px; 
	margin-bottom:10px;
	margin-top:10px;
	margin-left:10px;
}
.line5{
	
	background-color:#5c9ccc;
	/*background: #5c9ccc url(../img/bgtab.jpg) 50% 50% repeat-x;*/
	background-image:url(../img/bgtab_small.jpg);
	background-repeat:repeat-x;
	width:97px%;
	display:block;
	min-height:20px; 
	height:25px;
	border:1px solid #4297d7;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin:2px;
	text-align:center;
}
/*--- BODY ---*/
.body_up{
	width:100%;
	height:30px;
	float:left;
	padding:15px 0 0 0;
	border-bottom:4px solid #AA9D7B;
	margin:0 0 15px 0;
	
}
.container
{
	display:block;
	width:1024px;
	height:auto;
	margin:0px auto;
	border:0px solid black;
	
}
.parent_container
{
	float:left;
	width:100%;
	height:auto;
	margin:5px 0 20px 0;
	border:0px solid black;
	
}
.error
{
	width:100%; 
	float:left; 
	color:#F00000; 
	text-decoration:blink; 
	font-weight:normal;
}
.error a
{
	text-decoration:underline;
}
.error a:hover
{
	text-decoration:none;
}

/*--- NAVIGASI ---*/
.nav_2{
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	float:left;
	letter-spacing:1px;
	text-shadow: 1px 0px 1px #000000,-1px 1px 2px #FFFFFF; /*--shadow text*/
	height:30px;
}
a.nav_2{
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	float:left;
	text-decoration:none;
	margin-right:5px;
	letter-spacing:1px;
	text-shadow: 1px 0px 1px #000000,-1px 1px 2px #FFFFFF; /*--shadow text*/
}
a.nav_2:hover{
	color:#8d4911;
}
a.nav_4{
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:underline;
	display:block;
	float:left;
	margin:2px 3px 0 3px;
}
a.nav_4:hover{
	color:#000000;
	text-decoration:none;
}
a.nav_5{
	font:11px Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	display:block;
	float:left;
	margin:2px 3px 0 3px;
}
a.nav_5:hover{
	color:#000000;
}
a.nav_6{
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#2971ba;
	text-decoration:underline;
	float:left;
	margin:2px 3px;
}
a.nav_6:hover{
	text-decoration:none;
	color:#000000;
}

.current_nav6{
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	float:left;
	margin:2px 3px;
}

a.expand{
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	float:right;
	margin:2px 3px;
	background-image:url(../img/admin_arrowright.gif);
	background-position:right;
	background-repeat:no-repeat;
	padding-right:20px;
}
a.expand:hover{
	text-decoration:underline;
	color:#000000;
}
a.contract{
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	float:right;
	margin:2px 3px;
	background-image:url(../img/admin_arrowleft.gif);
	background-position:right;
	background-repeat:no-repeat;
	padding-right:20px;
}
a.contract:hover{
	text-decoration:underline;
}
/*--- TEXT ---*/
.text2{
	font:15px Arial, Helvetica, sans-serif;
	color:#000000;
	float:left;
	text-decoration:none;	
	margin-right:5px;
	margin-top:-2px;
	letter-spacing:1px;
	text-shadow: 1px 0px 1px #323232,-1px 1px 2px #515151; /*--shadow text*/
}
.text3{
	font:12px Arial, Helvetica, sans-serif;
	color:#694B04;
	float:left;
	text-decoration:none;	
	margin-right:5px;
	letter-spacing:1px;
	text-shadow: 1px 0px 1px #AA9D7B,-1px 1px 2px #AA9D7B; /*--shadow text*/
}
.text4{
	font:13px Arial, Helvetica, sans-serif;
	color:#000000;
	float:left;
	margin-top:5px;
}
.text5{
	font:13px Arial, Helvetica, sans-serif;
	color:#00F;
}
.text6{
	font:18px Arial, Helvetica, sans-serif;
	color:#000000;
	float:left;
	text-decoration:none;	
	margin-right:5px;
	letter-spacing:1px;
	text-shadow: 1px 0px 1px #AA9D7B,-1px 1px 2px #AA9D7B; /*--shadow text*/
}
.text7{
	font:12px Arial, Helvetica, sans-serif;
	color:#666666;
	float:left;
}
.text8{
	font:11px Arial, Helvetica, sans-serif;
	color:#694B04;
	margin:0;
}
.text9{
	font:11px Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:bold;
	margin:0;
}
.text10{
	font:14px Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:bold;
	text-decoration:none;	
	margin-left:5px;
	margin-top:4px;
	display:block;
	letter-spacing:1px;
	text-shadow: 1px 1px 1px #ffffff,1px 1px 1px #ffffff;
}
.text11{
	font:16px Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:bold;
	text-align:center;
}
.text12{
	font:14px Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:bold;
}

.title3{
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#ff0000;
	display:block;
	float:left;
	width:100%;
	margin:0;
}
input.button_admin_login
{
	background-color:#D4D4D4;
	border:1px solid #333;
	cursor:pointer;
	width:70px;
	font-weight:bold;
}
input.button
{
	background-image:url(../img/bg_button.jpg);
	background-repeat:repeat-x;
	width:auto;
	border:1px solid #D1A84C;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding: 0 5px;
	min-width:70px;
	cursor:pointer;
}
input.button_admin_login:hover
{
	background-color:#EFEFEF;
}
/*----FOOTER ---*/
.footer {margin-top:-50px;height:50px; background:#5c9ccc url(../img/fbg.jpg) 0 0 repeat-x;clear:both;position:relative;}
.footer a {font-size:11px; font-weight:bold; text-decoration:none; color:#695D3C}
.footer a:hover {text-decoration:underline}
.footer td {font-size:11px; font-weight:bold; color:#695D3C}


/*--- INPUT, TOMBOL, TEXTAREA ---*/
input.all_input2{
	font:12px Arial, Helvetica, sans-serif;
	color:#666666;
	width:80%;
	height:18px;
	border:1px solid #c8c8c8;
	display:block;
	padding:2px 4px;
	margin:0 3px;
}
input.all_input3{
	font:12px Arial, Helvetica, sans-serif;
	color:#666666;
	width:40%;
	height:18px;
	border:1px solid #c8c8c8;
	float:left;
	padding:2px 4px;
	margin:0;
}
input.all_input3_watermark{
	font:12px Arial, Helvetica, sans-serif;
	color:#999999;
	width:40%;
	height:18px;
	font-style:italic;
	border:1px solid #c8c8c8;
	float:left;
	padding:2px 4px;
	margin:0;
}
textarea.address{
	font:12px Arial, Helvetica, sans-serif;
	color:#666666;
	width:48.8%;
	height:80px;
	letter-spacing:1px;
	border:1px solid #c8c8c8;
	float:left;
	padding:0 4px;
	margin:0;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}

input.all_search{
	font:12px Arial, Helvetica, sans-serif;
	color:#666666;
	height:18px;
	border:1px solid #c8c8c8;
	display:block;
	width:160px;
	padding:0 0 0 5px;
	margin:0;
}
input.all_search_watermark{
	font:11px Arial, Helvetica, sans-serif;
	color:#cccccc;
	height:18px;
	border:1px solid #c8c8c8;
	display:block;
	width:159px;
	padding:0 0 0 5px;
	margin:0;
}

textarea.address_watermark{
	font:12px Arial, Helvetica, sans-serif;
	width:48.8%;
	height:80px;
	letter-spacing:1px;
	border:1px solid #c8c8c8;
	float:left;
	padding:0 4px;
	margin:0;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	color:#999999;
	font-style:italic;
}
.browse1{
	font:12px Arial, Helvetica, sans-serif;
	color:#1f1f1f;
	width:1px;
	height:30px;
	letter-spacing:1px;
	border:0px;
	padding:0 4px;
	background-color:transparent;
}
select.sel1{
	font:12px Arial, Helvetica, sans-serif;
	color:#666666;
	width:50%;
	height:24px;
	border:1px solid #c8c8c8;
	float:left;
	cursor:pointer;
	padding:2px;
	margin:0;
}
.save{
	background:url(../img/save.gif) no-repeat left;
	float:left;
	width:69px;
	height:21px;
	border:none;
	cursor:pointer;
	
}
.save:hover{
	background:url(../img/save_hover.gif) no-repeat left;
	float:left;
	width:69px;
	height:21px;
	border:none;
	cursor:pointer;
	
}
.btn_sign{
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#ffffff;
	width:auto;
	height:auto;
	padding:5px 15px;
	margin:0;
	cursor:pointer;
	border:1px solid #775800;
	background: #ECE0C1; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#775800', endColorstr='#775800'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#775800), to(#775800)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #775800,  #775800); /* for firefox 3.6+ */
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
}
.btn_sign:hover{
	color:#333333;
	background: #ECE0C1; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#775800', endColorstr='#775800'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#775800), to(#775800)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #775800,  #775800); /* for firefox 3.6+ */
}
.search{
	background:url(../img/search.gif) no-repeat left;
	float:right;
	width:69px;
	height:21px;
	border:none;
	cursor:pointer;
	margin-left:5px;
}
.reset_filter{
	background:url(../img/reset_filter.gif) no-repeat left;
	float:right;
	width:80px;
	height:21px;
	border:none;
	cursor:pointer;
	margin-left:5px;
}
.submit{
	background:url(../img/submit.jpg) no-repeat left;
	float:right;
	width:69px;
	height:21px;
	border:none;
	cursor:pointer;
	margin-left:5px;
}

/*--- TABLE ---*/
.table1{
	font:11px Arial, Helvetica, sans-serif;
	color:#333333;
	background:url(../img/bg_table1.gif) repeat-x left;
	display:block;
	border-left:1px solid #D3C8AA;
	border-right:1px solid #D3C8AA;
	width:99.8%;
	height:22px;
	padding-top:6px;
	margin:0;
}
.table2{
	background:url(../img/bg_table2.gif) repeat left center;
	width:100%;
	min-height:25px;
	max-height:40px;	
	margin:0;
}
.table3{
	background:url(../img/bg_table3.gif) repeat;
	width:200px;
	margin:0;
}
.table_text1{
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#2d444f;
	padding:0 3px;
}
.table_text2{
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	text-align:right;
	padding:0 3px;
}
.table_text3{
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	text-align:left;
	padding:0 3px;
}
.table_text4{
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	text-align:center;
	padding:0 3px;
}
a.nav_table_left{
	background:url(../img/page_arrow_left.gif) no-repeat left;
	float:left;
	width:13px;
	height:13px;
	border:none;
	margin:3px;
}
a.nav_table_left:hover{
	background:url(../img/page_arrow_left_off.gif) no-repeat left;
}
a.nav_table_right{
	background:url(../img/page_arrow_right.gif) no-repeat right;
	float:left;
	width:13px;
	height:13px;
	border:none;
	margin:3px;
}
a.nav_table_right:hover{
	background:url(../img/page_arrow_right_off.gif) no-repeat right;
}
